
<include file="Public/tpl/left.html" />
<div class="admin_right">
    <include file="Public/tpl/top_userinfo.html" />
    <div class="change_password">添加采集端配置信息</div>
    <form id="editForm" action="__INDEX__/Collect/configAddSave" method="POST">
        <table cellspacing="0" cellpadding="0" class="issue_tab">
            <tr>
                <td width=80>渠道号</td>
                <td class="issue_td"><input class="name" type="text" name="account" value="" /></td>
            </tr>
            <tr>
                <td width=80>摄像头地址</td>
                <td class="issue_td"><input class="name" type="text" name="source" value="" /></td>
            </tr>
            <tr>
                <td width=80>目标地址</td>
                <td class="issue_td"><input class="name" type="text" name="target" value="" /></td>
            </tr>
            <tr>
                <td width=80>名称</td>
                <td class="issue_td"><input class="name" type="text" name="name" value="" /></td>
            </tr>
            <tr>
                <td width=80>参数</td>
                <td class="issue_td"><input class="name" type="text" name="args" value="" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <a href="__INDEX__/Collect/configList" class="btn fr">返回</a>
                    <a href="javascript:void(0)" class="btn fr" id="btn_submit">确定</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<load href="__JS__/jq/form.js" />
<script type="text/javascript">
    PosterDoUrl('Collect','configAddSave');
</script>

