<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=0.7 maximum-scale=1.0, user-scalable=no, width=device-width">
    <title>{$Think.config.PROJECT_NAME}</title>
    <link rel="stylesheet"  href="__CSS__/style.css">
    <link rel="stylesheet"  href="__CSS__/show.css">
    <script src="__JS__/jq/jquery.js"></script>
    <script src="__JS__/web.js"></script>
    <script src="__JS__/oa.js"></script>
    <script src="__JS__/sha1.js"></script>
</head>

<body>
{__CONTENT__}
</body>
</html>






