<!-- <div class="show_bg"></div> -->
<div class="regist_layout"> 	
    <div class="show_system_name">家长登录</div>
    <form id="regist_form">
    <table class="regist_tab">
    	<tr>
    		<td class="show_tip">手机/姓名：</td>
    		<td>
    			<input class="show_input" id="name" type="text" placeholder="手机号码/姓名" />
    		</td>
    	</tr>
		<tr>
			<td class="show_tip">登录密码：</td>
			<td>
				<input class="show_input" id="password" type="password" />
			</td>
		</tr>
    </table>
	<a href="javascript:void(0)" class="regist_btn" id="btn_submit">确定</a>
	<a href="__INDEX__/Member/reg" class="btn_go">新用户注册</a>
    </form>

    <div class="record">Copyright © 有限公司</div>
    <script type="text/javascript">
    $("#btn_submit").click(function(){
        $.post('/index.php/Member/check/', {
        	'name':$("#name").val(),
        	'pass':$('#password').val(),
        }, function(data) {
        	if(data.code==0){
        		location.href='/index.php/Member/index';
        	}else{
        		alert(data.msg);
        	}
        });
    });
    </script>
</div>