<!-- <div class="show_bg"></div> -->
<div class="regist_layout"> 	
    <div class="show_system_name">注册</div>
    <form id="regist_form">
    <table class="regist_tab">
    	<tr>
    		<td class="show_tip">手机号码：</td>
    		<td>
    			<input class="show_input" name="cell_phone" type="text" placeholder="手机号码">
    		</td>
    	</tr>
    	<tr>
    		<td class="show_tip">家长姓名：</td>
    		<td>
    			<input class="show_input" name="name" type="text" placeholder="姓名">
    		</td>
    	</tr>
    	<tr>
    		<td class="show_tip">宝贝姓名：</td>
    		<td>
    			<input class="show_input" name="baby_name" type="text" placeholder="宝贝姓名">
    		</td>
    	</tr>
    	<tr>
    		<td class="show_tip">与宝贝的关系:</td>
    		<td>
    			<volist name="relation" id="R">
            		<label class="show_relation"><input class="radio" type="radio" name="relation_type" value="{$key}" <eq name="key" value="1"> checked="checed"</eq>/>
            			{$R}
            		</label>
                    <if condition="($key%3) eq 0"><br></if>
        		</volist>
    		</td>
    	</tr>
    	<tr>
    		<td class="show_tip">宝贝所在班级：</td>
    		<td>
                <select name="class_id" class="regist_select">
                    <option value="0" selected="selected">请选择</option>
                    <volist name="class_list" id="class">
                        <option value="{$class.id}">{$class.name}</option>
                    </volist>
                </select>
            </td>
    	</tr>
    </table>
        <a href="javascript:void(0)" class="regist_btn" id="btn_regist">注册</a>
    </form>
    <div class="record">Copyright © 有限公司</div>
    <script type="text/javascript">
    $("#btn_regist").click(function(){
        $.post('/index.php/Show/saveRegist/', {
        	'cell_phone':$("input[name='cell_phone']").val(),
        	'name':$("input[name='name']").val(),
        	'baby_name':$("input[name='baby_name']").val(),
        	'relation_type':$("[name='relation_type']").val(),
        	'class_id':$("[name='class_id']").val(),
        }, function(data) {
        	if(data.code==0){
        		alert(data.msg);
        		location.href='/index.php/Show/index';
        	}else{
        		alert(data.msg);
        	}
        });
    });
    </script>
</div>