<include file="Public/tpl/left.html" />

<div class="admin_right">
    <include file="Public/tpl/top_userinfo.html" />
<?php if($_SESSION['admin_role'] == 1) {?>
    <div class="data_list_bt">用户列表</div>
    <div class="issue_div">
        <a href="__INDEX__/admin/edit" class="btn" id="btn_edit">添加</a>
    </div>
    <table class="data_list" width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <th width="10%">ID</th>
            <th width="30%">名称</th>
            <th width="30%">角色</th>
            <th width="30%">操作</th>
        </tr>
        <volist name="data_list" id="data">
        <tr>
            <td>{$data.id}</td>
            <td>{$data.name}</td>
            <td>{$data.role_name}</td>
            <td>
                <a href="__INDEX__/admin/changepwd/id/{$data.id}">重置密码</a>
                <a href="javascript:;" onclick="Deleter('Admin', {$data.id});">删除</a>
            </td>
        </tr>
        </volist>
    </table>
<?php } else {?>   

<volist name="data_list" id="data">
<a href="__INDEX__/admin/changepwd/id/{$data.id}" class="btn" >重置密码</a>    
</volist>

<?php } ?>
 <div class="pages">{$pager}</div>
</div>




